.NavBarItem{
    margin:auto;
    padding: 5px;
   
    display:inline-flex;
}
.NavBarItem a{
    color: black;
    font-family: 'Courier New', Courier, monospace;

    text-decoration: none;
    text-align: center;
    font-size: small;
    font-weight: bold;
}